* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  h3 {
    font-size: 40px;
    color: hsl(332, 66%, 39%);
    margin-top: 15px;
    font-style:none;
  }

  hr
  {
    background-color: #aca478;
    border-style: none;
    height: 3px;
    width: 800%;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 1%;
    background-color:#cdd737;
    font-size: 25px;

  }
  .logo-text a,
  .btn {
    font-family:cursive;
    font-size: 25px;
    font-weight: 500;
    color: #542c88;
  }

  .btn {
    color: #b82faa;
    background-color: #8dd6b0;
    border-color: rgb(0, 0, 0);
    width: 150px;
    height: 45px;
    border-radius: 45px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
   transition: 0.4s;
  }

  .back{
    background-color: #a53a79;
  }

  .cards {
    display: table;
   }

  .card {
   font-family:monospace;
   width: 700px;
   overflow: hidden;
   background: #64c5b9;
   display: inline-block;
   flex-direction: column;
   border-radius: 30px;
   margin: 3rem;
  }
    
  .card-image img {
   width: 0;
   height: 100px;
    
  }
  .profile-image img {
    z-index: 1;
    width: 110px;
    height: 110px;
    margin-top: -85px;
    display: block;
    border-radius: 100px;
  }
  .card-content h3,
  .card-content h2 {
    font-size: 26px;
    text-align: center;
    margin-bottom: 25px;
    color: rgb(76, 21, 154);
  }
